nav.navigation 
  a.navigation__item(href="#", name="#home", data-number="1")
    span #{i18n.common.titles.home}
  a.navigation__item(href="#", name="#about", data-number="2")
    span #{i18n.common.titles.about}
  a.navigation__item(href="#", name="#business", data-number="3")
    span #{i18n.common.titles.business}
  a.navigation__item(href="#", name="#problem", data-number="4")
    span #{i18n.common.titles.problem}
  a.navigation__item(href="#", name="#solution", data-number="5")
    span #{i18n.common.titles.solution}
  a.navigation__item(href="#", name="#sale", data-number="6")
    span #{i18n.common.titles.sale}
  a.navigation__item(href="#", name="#roadmap", data-number="7")
    span #{i18n.common.titles.roadmap}
  a.navigation__item(href="#", name="#faq", data-number="8")
    span #{i18n.common.titles.faq}
  a.navigation__item(href="#", name="#contact", data-number="9")
    span #{i18n.common.titles.contact}
  //a.navigation__item(href="#", id="#subscribe", data-number="10")
  //  span Subscribe