section#roadmap.roadmap
  include ../../../icons/invisible.html
  div.roadmap__cubes
    include ../../../icons/cubes5.html
  div.roadmap__container
    h2.pin(data-aos="fade-up", data-aos-delay="200") #{i18n.common.titles.roadmap}

    div.roadmap__controls(data-aos="fade-up", data-aos-delay="300")
      div.roadmap__nav
        div.roadmap__nav-prev
          i.icon_arrow-left
        div.roadmap__nav-next
          i.icon_arrow-right
      div.roadmap__dots
      div.roadmap__numof
        span.roadmap__numof-cur 1
        | /
        span.roadmap__numof-all 0

    div.slider__holder(data-aos="fade-up", data-aos-delay="400")
      div.slider__shadow  
        img(src=imgUrl+"roadmap-shadow.svg")
      div.roadmap__slider
        div.roadmap__infographic(data-title=i18n.module.roadmap.p1)
          .roadmap__circle.is_done
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p1}
            p #{i18n.module.roadmap.p1Remark1}
            p #{i18n.module.roadmap.p1Remark2}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p2)
          .roadmap__circle.is_done
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p2}
            p #{i18n.module.roadmap.p2Remark1}
            p #{i18n.module.roadmap.p2Remark2}
            p #{i18n.module.roadmap.p2Remark3}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p3)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p3}
            p #{i18n.module.roadmap.p3Remark1}
            p #{i18n.module.roadmap.p3Remark2}
            p #{i18n.module.roadmap.p3Remark3}
            p #{i18n.module.roadmap.p3Remark4}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p4)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p4}
            p #{i18n.module.roadmap.p4Remark1}
            p #{i18n.module.roadmap.p4Remark2}
            p #{i18n.module.roadmap.p4Remark3}
            p #{i18n.module.roadmap.p4Remark4}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p5)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p5}
            p #{i18n.module.roadmap.p5Remark1}
            p #{i18n.module.roadmap.p5Remark2}
            p #{i18n.module.roadmap.p5Remark3}
            p #{i18n.module.roadmap.p5Remark4}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p6)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p6}
            p #{i18n.module.roadmap.p6Remark1}
            p #{i18n.module.roadmap.p6Remark2}
            p #{i18n.module.roadmap.p6Remark3}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p7)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p7}
            p #{i18n.module.roadmap.p7Remark1}
            p #{i18n.module.roadmap.p7Remark2}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p8)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p8}
            p #{i18n.module.roadmap.p8Remark1}
            p #{i18n.module.roadmap.p8Remark2}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p9)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p9}
            p #{i18n.module.roadmap.p9Remark1}
            p #{i18n.module.roadmap.p9Remark2}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p10)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p10}
            p #{i18n.module.roadmap.p10Remark1}
            p #{i18n.module.roadmap.p10Remark2}
            p #{i18n.module.roadmap.p10Remark3}
            p #{i18n.module.roadmap.p10Remark4}
        div.roadmap__infographic(data-title=i18n.module.roadmap.p11)
          .roadmap__circle
            include ../../../icons/roadmap.html
          .roadmap__text
            h4 #{i18n.module.roadmap.p11}
            p #{i18n.module.roadmap.p11Remark1}
            p #{i18n.module.roadmap.p11Remark2}
            p #{i18n.module.roadmap.p11Remark3}